<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.officedict.dao.mapper.officedict.NewHouseHousingMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.officedict.dao.entity.officedict.NewHouseHousing" >
    <id column="house_id" property="houseId" jdbcType="BIGINT" />
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    <result column="room" property="room" jdbcType="SMALLINT" />
    <result column="hall" property="hall" jdbcType="SMALLINT" />
    <result column="kitchen" property="kitchen" jdbcType="SMALLINT" />
    <result column="toilet" property="toilet" jdbcType="SMALLINT" />
    <result column="balcony" property="balcony" jdbcType="SMALLINT" />
    <result column="forward" property="forward" jdbcType="VARCHAR" />
    <result column="house_layout" property="houseLayout" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="SMALLINT" />
    <result column="total_floor" property="totalFloor" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="build_no" property="buildNo" jdbcType="INTEGER" />
    <result column="sales_status" property="salesStatus" jdbcType="VARCHAR" />
    <result column="unit_no" property="unitNo" jdbcType="SMALLINT" />
    <result column="room_no" property="roomNo" jdbcType="INTEGER" />
    <result column="build_area" property="buildArea" jdbcType="NUMERIC" />
    <result column="live_area" property="liveArea" jdbcType="NUMERIC" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    house_id, proj_id, room, hall, kitchen, toilet, balcony, forward, house_layout, floor, 
    total_floor, price, total_price, build_no, sales_status, unit_no, room_no, build_area, 
    live_area, creator_id, create_time, updater_id, update_time, is_del, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house_newhouse_bj
    where house_id = #{houseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house_newhouse_bj
    where house_id = #{houseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.officedict.dao.entity.officedict.NewHouseHousing" >
    insert into house_newhouse_bj (house_id, proj_id, room, 
      hall, kitchen, toilet, 
      balcony, forward, house_layout, 
      floor, total_floor, price, 
      total_price, build_no, sales_status, 
      unit_no, room_no, build_area, 
      live_area, creator_id, create_time, 
      updater_id, update_time, is_del, 
      status)
    values (#{houseId,jdbcType=INTEGER}, #{projId,jdbcType=INTEGER}, #{room,jdbcType=SMALLINT},
      #{hall,jdbcType=SMALLINT}, #{kitchen,jdbcType=SMALLINT}, #{toilet,jdbcType=SMALLINT}, 
      #{balcony,jdbcType=SMALLINT}, #{forward,jdbcType=VARCHAR}, #{houseLayout,jdbcType=VARCHAR}, 
      #{floor,jdbcType=SMALLINT}, #{totalFloor,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{totalPrice,jdbcType=DOUBLE}, #{buildNo,jdbcType=INTEGER}, #{salesStatus,jdbcType=VARCHAR}, 
      #{unitNo,jdbcType=SMALLINT}, #{roomNo,jdbcType=INTEGER}, #{buildArea,jdbcType=NUMERIC}, 
      #{liveArea,jdbcType=NUMERIC}, #{creatorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updaterId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.officedict.dao.entity.officedict.NewHouseHousing" >
    insert into house_newhouse_bj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        proj_id,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="hall != null" >
        hall,
      </if>
      <if test="kitchen != null" >
        kitchen,
      </if>
      <if test="toilet != null" >
        toilet,
      </if>
      <if test="balcony != null" >
        balcony,
      </if>
      <if test="forward != null" >
        forward,
      </if>
      <if test="houseLayout != null" >
        house_layout,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="totalFloor != null" >
        total_floor,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="buildNo != null" >
        build_no,
      </if>
      <if test="salesStatus != null" >
        sales_status,
      </if>
      <if test="unitNo != null" >
        unit_no,
      </if>
      <if test="roomNo != null" >
        room_no,
      </if>
      <if test="buildArea != null" >
        build_area,
      </if>
      <if test="liveArea != null" >
        live_area,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>

        create_time,

      <if test="updaterId != null" >
        updater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        #{room,jdbcType=SMALLINT},
      </if>
      <if test="hall != null" >
        #{hall,jdbcType=SMALLINT},
      </if>
      <if test="kitchen != null" >
        #{kitchen,jdbcType=SMALLINT},
      </if>
      <if test="toilet != null" >
        #{toilet,jdbcType=SMALLINT},
      </if>
      <if test="balcony != null" >
        #{balcony,jdbcType=SMALLINT},
      </if>
      <if test="forward != null" >
        #{forward,jdbcType=VARCHAR},
      </if>
      <if test="houseLayout != null" >
        #{houseLayout,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=SMALLINT},
      </if>
      <if test="totalFloor != null" >
        #{totalFloor,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="buildNo != null" >
        #{buildNo,jdbcType=INTEGER},
      </if>
      <if test="salesStatus != null" >
        #{salesStatus,jdbcType=VARCHAR},
      </if>
      <if test="unitNo != null" >
        #{unitNo,jdbcType=SMALLINT},
      </if>
      <if test="roomNo != null" >
        #{roomNo,jdbcType=INTEGER},
      </if>
      <if test="buildArea != null" >
        #{buildArea,jdbcType=NUMERIC},
      </if>
      <if test="liveArea != null" >
        #{liveArea,jdbcType=NUMERIC},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>

        now(),

      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.officedict.dao.entity.officedict.NewHouseHousing" >
    update house_newhouse_bj
    <set >
      <if test="projId != null" >
        proj_id = #{projId,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=SMALLINT},
      </if>
      <if test="hall != null" >
        hall = #{hall,jdbcType=SMALLINT},
      </if>
      <if test="kitchen != null" >
        kitchen = #{kitchen,jdbcType=SMALLINT},
      </if>
      <if test="toilet != null" >
        toilet = #{toilet,jdbcType=SMALLINT},
      </if>
      <if test="balcony != null" >
        balcony = #{balcony,jdbcType=SMALLINT},
      </if>
      <if test="forward != null" >
        forward = #{forward,jdbcType=VARCHAR},
      </if>
      <if test="houseLayout != null" >
        house_layout = #{houseLayout,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=SMALLINT},
      </if>
      <if test="totalFloor != null" >
        total_floor = #{totalFloor,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="buildNo != null" >
        build_no = #{buildNo,jdbcType=INTEGER},
      </if>
      <if test="salesStatus != null" >
        sales_status = #{salesStatus,jdbcType=VARCHAR},
      </if>
      <if test="unitNo != null" >
        unit_no = #{unitNo,jdbcType=SMALLINT},
      </if>
      <if test="roomNo != null" >
        room_no = #{roomNo,jdbcType=INTEGER},
      </if>
      <if test="buildArea != null" >
        build_area = #{buildArea,jdbcType=NUMERIC},
      </if>
      <if test="liveArea != null" >
        live_area = #{liveArea,jdbcType=NUMERIC},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.officedict.dao.entity.officedict.NewHouseHousing" >
    update house_newhouse_bj
    set proj_id = #{projId,jdbcType=INTEGER},
      room = #{room,jdbcType=SMALLINT},
      hall = #{hall,jdbcType=SMALLINT},
      kitchen = #{kitchen,jdbcType=SMALLINT},
      toilet = #{toilet,jdbcType=SMALLINT},
      balcony = #{balcony,jdbcType=SMALLINT},
      forward = #{forward,jdbcType=VARCHAR},
      house_layout = #{houseLayout,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=SMALLINT},
      total_floor = #{totalFloor,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      build_no = #{buildNo,jdbcType=INTEGER},
      sales_status = #{salesStatus,jdbcType=VARCHAR},
      unit_no = #{unitNo,jdbcType=SMALLINT},
      room_no = #{roomNo,jdbcType=INTEGER},
      build_area = #{buildArea,jdbcType=NUMERIC},
      live_area = #{liveArea,jdbcType=NUMERIC},
      creator_id = #{creatorId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT}
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>

  <select id="queryNewHouseHousingList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM house_newhouse_bj

    <where>
      is_del = 0
    </where>
    ORDER BY update_time DESC, create_time DESC

  </select>

  <update id="updateHousingDelStatus" parameterType="com.toutiao.officedict.dao.entity.officedict.NewHouseHousing">
    UPDATE house_newhouse_bj
    <set>
      is_del = 1
    </set>
    WHERE house_id = #{houseId}
  </update>
</mapper>