<link href="/static/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/toutiao/css/user-defined.css">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">楼盘活动
                    <div class="pull-right">
                        <a style="cursor: pointer;" id="addbutton" data-toggle="modal" data-target="#addlou">添加楼盘活动</a>
                    </div>
                </div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <form id="pro_list_form" class="form-inline form-search">
                            <div class="form-group">
                                <label class="control-label">前台是否展示</label>
                                <select class="form-control" name="isActivity"  id="isActivity">
                                    <option value='1'>否</option>
                                    <option value='0'>是</option>
                                </select>
                            </div>
                            <div class="form-actions pull-right">
                                <button type="button" id="search-list-pro" class="btn btn-info"><i class="fa fa-check"></i>保存</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel-body">
                        <div class="clearfix"></div>
                        <div>
                            <div id="dynamic-info-table" class="panel block5" style="position: static; zoom: 1;">
                                <div id="dynamic-info-form" class="panel block5">

                                </div>
                                <!--<button class='btn btn-info p-r-20 p-l-20' id="save-dynamic-info-btn">保存</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addlou" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">添加楼盘活动</h4> </div>
                <div class="modal-body">
                    <form id="adresult" method="post">
                        <!--   <div class="form-group">
                            <label for="districtId" class="control-label">所属区域:</label>
                           <select class="form-control" name="districtId" id="districtId">
                               <option value=''>&#45;&#45;请选择区域&#45;&#45;</option>
                           </select>
                           </div>
                           -->
                        <div class="form-group">
                            <label for="activityType" class="control-label">活动类型:</label>
                            <select class="form-control" name="activityType" onchange="checkFieldadd(this.value)" id="activityType">
                                <option value=''>&#45;&#45;请选择分类&#45;&#45;</option>
                                <option value='1'>折扣</option>
                                <option value='2'>立减</option>
                            </select>
                        </div>
                    <!--    <div class="form-group">
                            <label for="createTime" class="control-label">日期:</label>
                            <input type="text" class="form-control" required name="createTime" id="createTime">
                        </div>-->
                        <div class="form-group col-xs-20">
                            <label for="activitySubtitle" class="control-label">活动优惠:</label>
                                <div class="col-xs-15">
                                    <p id="addlijian" style="display: inline-block;"></p><input type="text" style="display: inline-block;width: 80%; margin-left: 5%" class="form-control" name="activitySubtitle"  id="activitySubtitle"><p id="addzhe" style="display: inline-block; margin-left:5%;"></p>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="activityTitle" class="control-label">活动优惠描述:</label>
                            <textarea class="form-control" required name="activityTitle" id="activityTitle"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="activityDesc" class="control-label">备注:</label>
                            <input type="text" class="form-control" name="activityDesc" id="activityDesc">
                        </div>
                        <div class="form-group">
                            <label for="isDel" class="control-label">活动进行状态:</label>
                            <select class="form-control" name="isDel" id="isDel">
                                <option value='1'>否</option>
                                <option value='0'>是</option>
                            </select>
                        </div>
                        <!--      <input type="hidden" name="areaPinyinInitials" class="form-control"  id="aareaPinyinInitials">
                              <input type="hidden" name="cityId" class="form-control"  id="acityId" value="12">-->

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                    <button type="button" id="subsave" class="btn btn-danger waves-effect waves-light">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div id="uphouse" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">修改楼盘活动</h4> </div>
                <div class="modal-body" id="upform">

                </div>
                <div class="modal-footer">
                    <button type="button" id="subup" class="btn btn-danger waves-effect waves-light">提交修改</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="edit-price-form-template">
        <form id="upresult" method="post">
            <input type="hidden" name="id" class="form-control" value="{{id}}" id="id">
            <div class="form-group">
                <label for="uptype" class="control-label">活动类型:</label>
                <select class="form-control" onchange="checkFieldup(this.value)"  name="activityType" id="uptype">
                    <option value=''>&#45;&#45;请选择分类&#45;&#45;</option>
                    {{if activityType=='0'}}
                    <option value='0' selected>楼盘动态</option>
                    <option value='1'>开盘信息</option>
                    <option value='2'>交房信息</option>
                    {{else if activityType=='1'}}
                    <option value='1' selected>折扣</option>
                    <option value='2' >立减</option>
                    {{else if activityType=='2'}}
                    <option value='1' >折扣</option>
                    <option value='2' selected>立减</option>
                    {{/if}}
                </select>
            </div>
            <div class="form-group">
                <label for="uactivitySubtitle" class="control-label">活动优惠:</label>
                <div class="col-xs-15">
                <p id="uplijian" style="display: inline-block;"> {{if activityType=='2'}}立减{{/if}}</p><input type="text" style="display: inline-block;width: 80%; margin-left: 5%" class="form-control" name="activitySubtitle"  value="{{activitySubtitle}}" id="uactivitySubtitle"><p id="upzhe" style="display: inline-block; margin-left:5%;">{{if activityType=='1'}}折{{else if activityType=='2'}}万{{/if}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="uactivityTitle" class="control-label">活动优惠描述:</label>
                <textarea name="activityTitle" class="form-control" id="uactivityTitle">{{activityTitle}}</textarea>
            </div>
            <div class="form-group">
                <label for="uactivityDesc" class="control-label">备注:</label>
                <input type="text" class="form-control" value="{{activityDesc}}"  name="activityDesc" id="uactivityDesc">
            </div>
            <div class="form-group">
                <label for="upisDel" class="control-label">活动进行状态:</label>
                <select class="form-control" name="isDel" id="upisDel">
                    <option value=''>&#45;&#45;请选择分类&#45;&#45;</option>
                    {{if isDel=='1'}}
                    <option value='1' selected>否</option>
                    <option value='0'>是</option>
                    {{else if isDel=='0'}}
                    <option value='1'>否</option>
                    <option value='0' selected>是</option>
                    {{/if}}
                </select>
            </div>
        </form>
    </script>


</div>

<script src="/static/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/static/plugins/bower_components/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="/static/plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
<script src="/static/plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
<script src="/static/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/additional-methods.min.js"></script>
<script src="/static/js/messages_zh.min.js"></script>
<script src="/static/js/toutiao/validator-setDefaults.js"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js"></script>
<script src="/static/js/toutiao.table.js"></script>
<script src="/static/js/toutiao/common.js"></script>
<script src="/api/newHouse/activityInfo.js"></script>
<script type="text/javascript">
    function checkFieldadd(it) {
        console.log(it)
        if(it==1){
            $("#addlijian").html("");
            $("#addzhe").html("折");
        }else if(it==2){
            $("#addlijian").html("立减");
            $("#addzhe").html("万");
        }
    }

    function checkFieldup(it) {
        console.log(it)
        if(it==1){
            $("#uplijian").html("");
            $("#upzhe").html("折");
        }else if(it==2){
            $("#uplijian").html("立减");
            $("#upzhe").html("万");
        }
    }

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }

    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm,'');
    }

    var _newCode = getQueryString('newcode');
    $('input[name="newcode"]').val(_newCode);




    $(function () {



        $('#dynamic-info-form').ttTable({
            paging:true,
            columns:[
                {
                    field:"id",
                    "title":"ID"
                },
                {
                    render:function (d) {
                        if( d['activityType'] == 1){
                            return "<div class='button-box'>"
                                + "折扣"
                                + "</div>";
                        }else if( d['activityType'] == 2){
                            return "<div class='button-box'>"
                                + "立减"
                                + "</div>";
                        }
                    },
                    "title":"活动类型"
                },
                {
                    render:function (d) {
                        if( d['isDel'] == 0){
                            return "<div class='button-box'>"
                                + "是"
                                + "</div>";
                        }else if (d['isDel'] == 1){
                            return "<div class='button-box'>"
                                + "否"
                                + "</div>";
                        }
                    },
                    "title":"活动进行状态"
                },
                {
                    field:"activitySubtitle",
                    "title":"活动优惠"
                },
                {
                    field:"activityTitle",
                    "title":"活动优惠描述"
                },
                {
                    field:"createTime",
                    "title":"创建时间"
                },
                {
                    render:function (d) {
                        return "<div class='button-box'>"
                            + "<button class='btn btn-info upRelation' data-id='" + d['id']+ "'>修改</button>"
                            + "</div>";
                    },
                    "title":"管理操作"
                }
            /*    {
                    render:function (d) {
                        if( d['isDel'] == 1){
                            return "<div class='button-box'>"
                                + "<button class='btn btn-info upRelation' data-id='" + d['id']+ "'>修改</button>"
                                + "</div>";
                        }
                        return "<div class='button-box'>"
                            + "<button class='btn btn-info removeDynamic' data-id='" + d['id']+ "'>删除</button>"
                            + "<button class='btn btn-info upRelation' data-id='" + d['id']+ "'>修改</button>"
                            + "</div>";
                    },
                    "title":"管理操作"
                }*/

            ],
            onPage:function (pageIndex,pageSize) {
                loadData(_newCode,pageIndex);
            }
        });

        //加载列表数据
        function loadData(newcode, pageNum) {
            var param = $.extend({"pageNum":pageNum},{"newcode":newcode})
            com.toutiao.officedict.activityinfo.activityList.do(param,function(res, pageNum, pageSize, total){
                if(res){
                    if(res[0].isActivity == 0){
                        $("#isActivity").val("0")
                    }else if (res[0].isActivity == 1){
                        $("#isActivity").val("1")
                    }
                    $('#dynamic-info-form').ttTable().showloading();
                    $('#dynamic-info-form').ttTable().load(res, total, pageNum);

                    $('.upRelation').each(function () {
                        var _id = $(this).data('id');
                        $(this).click(function () {
                            com.toutiao.officedict.activityinfo.oneActivityInfo.do({id:_id},function (res) {
                                // console.log(res);
                                var upHtml = template('edit-price-form-template',res);
                                $('#upform').html(upHtml);
                                $('#uphouse').modal();
                            })
                        })});

                    $('.removeDynamic').each(function () {
                        var _id = $(this).data('id');
                        $(this).click(function () {
                            com.toutiao.officedict.activityinfo.removeActivityInfo.do({id:_id,newcode:_newCode},function (res,success, error) {
                                if (res && res>0) {
                                    swal({
                                        title: "删除成功!",
                                        type: "success",
                                        confirmButtonText: "确定",
                                        closeOnConfirm: false
                                    }, function () {
                                        loadData(newcode,1);
                                        swal.close();
                                    });
                                }
                            })
                        })})
                }

            },function (jqXHR, textStatus, errorThrown) {
                console.log('error',jqXHR, textStatus, errorThrown)
            });

        };

        //录入
        $('#subsave').click(function () {
            var result = $('#adresult').serializeJSON();
            result.newcode=_newCode;
            result.activitySubtitle=myTrim(result.activitySubtitle);
           // result.createTime=getNowFormatDate();
            if(result.activityType=="" || result.activityTitle=="" || result.activitySubtitle==""){
                swal({
                    title: "不能为空!",
                    type: "error",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                }, function () {
                    swal.close();
                });
            }else {
                com.toutiao.officedict.activityinfo.addActivity.do(result, function (res,success, error) {
                    if (res && res>0) {
                        swal({
                            title: "添加成功!",
                            type: "success",
                            confirmButtonText: "确定",
                            closeOnConfirm: false
                        }, function () {
                            $('#addlou').modal('hide');
                            loadData(_newCode,1);
                            swal.close();

                            document.getElementById("adresult").reset();
                        });
                    }
                },function () {
                })
            }

        });

        $('#search-list-pro').click(function () {
            var result = $('#pro_list_form').serializeJSON();
            result.newcode=_newCode;
            com.toutiao.officedict.project.updateIsAcitivity.do(result, function (res,success, error) {
                if (res && res>0) {
                    swal({
                        title: "添加成功!",
                        type: "success",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    }, function () {
                        window.location.reload();
                    });
                }
            },function () {
            })
        });


        //更新
        $('#subup').on('click', function () {
            if (!$('#id').val()) {
                $('#id').focus();
                return false;
            }
            var result = $('#upresult').serializeJSON();
           // result.updateTime=getNowFormatDate();
            result.newcode=_newCode;
            if(result.activityType=="" ||  result.activityTitle=="" || result.activitySubtitle==""){
                swal({
                    title: "不能为空!",
                    type: "error",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                }, function () {
                    swal.close();
                });
            }else {
                com.toutiao.officedict.activityinfo.updateById.do(result,function (res,sucess) {
                    console.log(res);
                    if (res && res>0) {
                        swal({
                            title: "修改成功!",
                            type: "success",
                            confirmButtonText: "确定",

                            closeOnConfirm: false
                        }, function () {
                            $('#uphouse').modal('hide');
                            loadData(_newCode,1);
                            swal.close();
                        });

                    }
                },function (jqXHR, textStatus, errorThrown) {
                    console.log('error',jqXHR, textStatus, errorThrown)
                });
            }
            console.log(result);

        });

        loadData(_newCode,1);
        $( "#createTime" ).datepicker();
    })


</script>